.parallax-container {
    height: 250px;
  }
.imgd{

    height: 150px;
}
.esp{
    margin-bottom: 100px;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
     