html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
     flex-wrap:wrap;
    align-items: center;
    margin: 10px;
}

#logo{
    display: none;
}
#logoj{
    height: 100px;
    width: 135px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.menu a{
    text-decoration: none;
    margin: 10px;
    color: black;
}
.menu a:hover{
    color: chartreuse;
}
main{
    display: flex;
    flex-flow: column wrap;
}
main img{
    height: 250px;
    width: 500px;
}
p{
    width: 50%;
}

@media (min-width:760px){
    #logoj{
        display:block;
        height: 150px;
        width: 200px;
    }
    #logo{
        display: none
    }
    header{
        flex-direction:row;
        justify-content:space-between;
}
    main{
        flex-flow:row wrap;
}
    p{
        margin-bottom:15px;
}
